@charset "utf-8";

.box-width {
  width: 50%;
}

.boxname {
  display: block;
  font-size: 12px;
  color: #545658;
}

.button {
  box-sizing:border-box;
  display:inline-block;
  text-align:center;
  transition:0.3s;
  font-size:13px;
  border:1px solid #d9d9d9;
  border-radius:3px;
  width:100%;
  padding:13px;
}

.inportant {
  color: #dd4b39;
}

.input-init {
  -webkit-appearance:none;
  appearance:none;
  background:transparent;
  border:none;
  outline:none;
  resize:none;
  padding:0;
}

.input-area {
  box-sizing:border-box;
  height:36px;
  width:100%;
  color:#545658;
  font-size:13px;
  line-height:2;
  background-color:#fbfbfb;
  border:1px solid #d9d9d9;
  border-radius:3px;
  padding:5px;
}

.input-area:focus {
  background-color:#fff;
  box-shadow:0 0 0 2px rgba(1, 191, 189, .1);
  border-color:rgba(59, 133, 133, .4);
}

.fullwidth {
  width: 100%;
}

.input-space {
  margin-top: 5px;
}

.content-space {
  margin-top: 20px;
}

.gender-input,
.course-input {
  display: none;
}

.text-color {
  color: #01a6a4;
}

.text-color:hover {
  color: #01bfbd;
}

.wrapper {
  width:100%;
  background-color:#f2f6f7;
  padding:32px 0;
}

.inner {
  width:640px;
  margin:0 auto;
}

.main {
  box-sizing:border-box;
  background-color:#fff;
  border-radius:4px;
  box-shadow:0 0 4px 0 rgba(0, 0, 0, .18);
  padding:48px 64px;
}

.title {
  text-align: center;
  color: #545658;
  font-size: 24px;
}

.columns {
  display: flex;
  margin-top: 24px;
}

.column:last-child {
  margin-left: 8px;
}

.facebook-button {
  color: #fff;
  background-color: #3b5999;
  border-color: #3b5999;
}

.facebook-button:hover {
  background-color: #344e87;
  border-color: transparent;
}

.google-button {
  color: #dd4b39;
}

.google-button:hover {
  background-color: #f7f7f7;
}

.start-button__text {
  margin-top: 8px;
  text-align: center;
}

.about-the-account {
  color: #949697;
  font-size: 12px;
}

.account {
  position: relative;
  text-align: center;
}

.account::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1px;
  width: 100%;
  background-color: #ececec;
}

.account__text {
  display: inline-block;
  position: relative;
  padding: 0 10px;
}

.name-input {
  display: flex;
}

.name:last-child {
  margin-left: 16px;
}

.gender-choices {
  display: flex;
  color: #545658;
  font-size: 16px;
}

.gender-choice {
  margin-left: 15px;
  cursor: pointer;
}

.gender-choice:first-child {
  margin-left: 0;
}

.gender-choice span {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}

.gender-choice span::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 14px;
  width: 14px;
  background-color: #fbfbfb;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.gender-input:checked + span::after {
  content: '';
  position: absolute;
  left: 4px;
  top: 50%;
  height: 8px;
  width: 8px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #01bfbd;
}

.select-content {
  position: relative;
}

.select-content::after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 45%;
  transform: rotate(45deg);
  height: 5px;
  width: 5px;
  border-right: 2px solid #d9d9d9;
  border-bottom: 2px solid #d9d9d9;
}

.course-select-text {
  position: relative;
  padding-left: 25px;
}

.course-select-text::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  height: 15px;
  width: 15px;
  margin-top: -8px;
  border: 1px solid #d9d9d9;
}

.course-input:checked + .course-select-text::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 50%;
  transform: rotate(45deg);
  height: 16px;
  width: 8px;
  margin-top: -12px;
  border-right: 3px solid #01bfbd;
  border-bottom: 3px solid #01bfbd;
}

.course-select {
  margin-top: 10px;
}

.course-select:first-child {
  margin-top: 0;
}

.flee-text .input-area {
  height: 100px;
}

.account-creation-btn {
  background-color:#01bfbd;
  color:#fff;
  padding:13px;
}

.account-creation-btn:hover {
  background-color: #01a6a4;
}

.account-creation-btn:active {
  background-color: #fff;
  color: #01a6a4;
  border: 1px solid #d9d9d9;
}

.text-size {
  font-size: 12px;
  line-height: 16px;
}

.question {
  margin-top: 32px;
  text-align: center;
}

.question a:hover{
  box-sizing: border-box;
  border-bottom: 1px solid #ececec;
  border-bottom-color: #01bfbd;
}

.text-space {
  display: inline-block;
  margin-top: 8px;
}